@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Combo&display=swap');


.logo{
  max-height: 4rem;
  width: 3rem;
}

.navbar {
  background-color: black;
  color: antiquewhite;
}

.navbar-brand{
  color: white;
  font-family: 'Combo', cursive;
  font-size: 2rem;
}

.nav-link{
  color: white;
  font-family: 'Anton', sans-serif;
}

.nav-item{
  padding: 0 50px;
}

#navbarNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cart-number, .number{
  display: flex;
  flex-direction: row;
}

.number{
  color: black;
  size: 2px;
  z-index: 1;
  position: absolute;
  margin-left: 33px;
}

.cart{
  height: 30px;
  width:30px;
}

.circle{
  position: relative;
  margin-top: 4px;
}

.cards-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container{
  background-color: black;
  width: 10cm;
  padding: 4px;
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.image{
  width: 5cm;
  height: 6cm;
  border-radius: 1rem;
}

.card-info{
  color: aliceblue;
}


.count{
  display: flex;
  align-content: center;
  align-items: center;
}

.btn-dark{
  background-color: black;
  width: 1cm;
  height: 0.8cm;
  margin: 0 4px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.AgregarCarrito{
  border-radius: 1rem;
  color: aliceblue;
  background-color: black;
}
.DeleteCard{
  border-radius: 1rem;
  color: black;
  background-color: aliceblue;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}