@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Combo&display=swap');


.logo{
  max-height: 4rem;
  width: 3rem;
}

.navbar {
  background-color: black;
  color: antiquewhite;
}

.navbar-brand{
  color: white;
  font-family: 'Combo', cursive;
  font-size: 2rem;
}

.nav-link{
  color: white;
  font-family: 'Anton', sans-serif;
}

.nav-item{
  padding: 0 50px;
}

#navbarNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cart-number, .number{
  display: flex;
  flex-direction: row;
}

.number{
  color: black;
  size: 2px;
  z-index: 1;
  position: absolute;
  margin-left: 33px;
}

.cart{
  height: 30px;
  width:30px;
}

.circle{
  position: relative;
  margin-top: 4px;
}