@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Combo&display=swap');


.logo{
  max-height: 4rem;
  width: 3rem;
}

.navbar {
  background-color: black;
  color: antiquewhite;
}

.navbar-brand{
  color: white;
  font-family: 'Combo', cursive;
  font-size: 2rem;
}

.nav-link{
  color: white;
  font-family: 'Anton', sans-serif;
}

.nav-item{
  padding: 0 50px;
}

#navbarNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}